<configuration>

    <appender name="INFO" class="ch.qos.logback.core.FileAppender">
        <file>logs/info.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
    </appender>

    <appender name="ERROR" class="ch.qos.logback.core.FileAppender">
        <file>logs/error.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
    </appender>

    <logger name="a.k" level="ERROR" additivity="false">
        <appender-ref ref="ERROR"/>
    </logger>

    <logger name="an.kondratev" level="INFO" additivity="false">
        <appender-ref ref="INFO"/>
        <appender-ref ref="ERROR"/>
    </logger>

    <root level="ERROR">
        <appender-ref ref="ERROR"/>
    </root>

</configuration>